.game-area{
  display: flex;
  align-items: center;
	justify-content: center;
	font-size: calc(1em + 1vmin);
	font-family: 'Bubblegum Sans', Helvetica, FontAwesome, sans-serif;
	color: #fffced;
  height:100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../img/main-page.png");

  padding: 20px;
  box-sizing: border-box;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* HEADER START */

.controls {
	display: flex;
  position: absolute;
  top: 0;
  box-shadow: 0px 5px 33px 10px rgba(0,0,0,0.75);
  width:100%;
  height:auto;
	justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1em;
  box-sizing: border-box;
}

.controls>*{
  width: calc(100% / 3);
  height:auto;
  /* margin-top: 1em; */
}

#duble{
  /*duble*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#level{
  text-align: center;
  width: calc(100%);
  height: 20px;
}

#level>.level{
  text-indent: 5px;
}

#stopwatch{
	width: calc(100%);
  margin-top: 5px;
	height: 20px;
  float: left;
	background: green;
	text-align: center;
}

#score{
  /* margin-left: -1em; */
  /* width: calc(100% / 3); */
  /* height: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score span{
  text-align: center;
  height: 20px;
  width: 100%;
  /* float: left; */
}

#score .score{
  margin-top: 5px;
}

#extra{
  height: 45px;
  /* width: calc(100% / 3); */
  /* margin:0px; */
  /* height: 70px; */
  /* border: 1px solid white; */
  /* border-top:0px; */
  /* border-right: 0px; */
  /* border-bottom-left-radius: 15px; */
}
#extra img{
  height: auto;
  width: 100%;
  animation: rotate_logo infinite 4s;
}
@keyframes rotate_logo{
  0%{transform: rotate(-2.5deg)}
  50%{transform: rotate(2.5deg)}
  100%{transform: rotate(-2.5deg)}
}

#moves{
  position: absolute;
  width: calc(100% / 3);
  left: calc( ( 100% - ( 100% / 3 )  ) / 2 );
  top:  calc(50px + 1.7em);
  padding: 0.5em;
  text-align: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px 0px #BF0426;
  border-top: 0px;
}

/* HEADER END */

main{
  margin-top: 50px;
}

#board {
	display: flex;
	transition:.5s all;
	flex-flow: row wrap;
	height: 80vmin;
	width: 80vmin;

	border-radius: .3em;
}

#board>* {
	font-family: "Font Awesome 5 Free";
	display: block;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	float: left;
	transition: background 300ms linear;
}

/* #board:not(.started)>*:first-of-type::after {
	content: '\f005';
} */

#colors {
	display: flex;
	justify-content: space-between;
	margin-top: 1ch;
}

#colors>* {
	flex: 0 1 10vmin;
	height: 10vmin;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: .3em;
}

#game-over {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 3em;
}
