.btn {
	position: absolute;
	top:calc((100% - 40px) / 2);
	left:calc((100% - 40px) / 2);
	width: 40px;
	box-sizing: unset;
	height: 40px;
	border: white 3px solid;
	border-radius: 50%;
	transition: border 0.1s ease-in-out;
}

.btn:hover {
	border: #333 3px solid;
}

.btn:hover .bar {
	background-color: #333;
}

.btn .bar {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
	width: 3px;
	height: 20px;
	border-radius: 3px;
	background-color: white;
	-webkit-transform-origin: center;
	transform-origin: center;
	transition: background 0.1s ease-in-out, -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
	transition: transform 0.4s ease-in-out, background 0.1s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.btn.pause .bar-1 {
	-webkit-transform: translateX(13.5px) translateY(0px) rotate(0deg);
	transform: translateX(13.5px) translateY(0px) rotate(0deg);
}

.btn.pause .bar-2 {
	-webkit-transform: translateX(24px) translateY(0px) rotate(0deg);
	transform: translateX(24px) translateY(0px) rotate(0deg);
}

.btn.play .bar-1 {
	-webkit-transform: translateX(20px) translateY(-5px) rotate(-55deg);
	transform: translateX(20px) translateY(-5px) rotate(-55deg);
}

.btn.play .bar-2 {
	-webkit-transform: translateX(20px) translateY(5px) rotate(-125deg);
	transform: translateX(20px) translateY(5px) rotate(-125deg);
}
